<div *ngIf="orderService.orders">
    <div class="row mb-2">
        <div class="col">
            <i class="fa fa-list demo-title-sm"></i> <span class="demo-title"> Orders
                ({{orderService.count}})</span>
        </div>
    </div>
    <div class="accordion" id="accordion">
        <div
            *ngFor="let i = index;let order of orderService.orders | orderBy: key: reverse | filter: filter | paginate: {id: 'pagination2', itemsPerPage: 5, currentPage: orderService.p}">
            <div class="item-hdr accordion-item-hdr">
                <div [attr.id]="'headingOne' + i" data-bs-toggle="collapse" data-bs-target="#collapseOne' + i"
                    (click)="loadOrderItems(order.OrderID)" [attr.data-bs-target]="'#collapseOne' + i"
                    aria-expanded="true" [attr.aria-controls]="'#collapseOne' + i">
                    <a (click)="loadOrderItems(order.OrderID)">
                        <i class="btn-icon fa fa-long-arrow-right"></i> Order #
                        {{ order.OrderID }} <span class="float-right"></span>
                    </a>
                </div>
            </div>
            <div [attr.id]="'collapseOne' + i" class="collapse" [attr.aria-labelledby]="'headingOne' + i"
                data-bs-parent="#accordion">
                <form #form="ngForm">
                    <div class="row mb-2 mt-2">
                        <div class="col demo-title-sm pad-left pb-2">
                            <span class="demo-title-sm">
                                <i class="fa fa-info-circle fa-sm"></i> Details</span>
                        </div>
                    </div>
                    <div class="row pad-left-20">
                        <div class="col- col-sm-6 col-lg-4 col-xl-2">
                            <h6>Order Id</h6>
                            <p class="form-detail">{{order.OrderID}}</p>
                        </div>
                        <div class="col- col-sm-6 col-lg-4 col-xl-2">
                            <h6>Order Date</h6>
                            <p class="form-detail">{{order.OrderDate | date: 'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col- col-sm-6 col-lg-4 col-xl-2">
                            <h6>Line Count</h6>
                            <p class="form-detail">{{order.ItemCount}}</p>
                        </div>
                        <div class="col- col-sm-6 col-lg-4 col-xl-2">
                            <h6>Items</h6>
                            <p class="form-detail">{{totalItems}}</p>
                        </div>
                        <div class="col- col-sm-6 col-lg-4 col-xl-2">
                            <h6>Ship Date</h6>
                            <p class="form-detail">{{order.ShipDate | date: 'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col- col-sm-6 col-lg-4 col-xl-2">
                            <h6>Ship Method</h6>
                            <p class="form-detail">{{order.Carrier}}</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col pad-left pb-2">
                            <span class="demo-title-sm"> <i class="fa fa-list fa-sm"></i> Items
                                ({{totalItems}})</span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="row pad-left-20">
                                <div class="col-md-5 pb-2 hide-mobile">
                                    <h6>Item Description
                                    </h6>
                                </div>
                                <div class="col-md-2 pb-2  hide-mobile">
                                    <h6>SKU</h6>
                                </div>
                                <div class="col-md-2 pb-2  hide-mobile">
                                    <h6>Price</h6>
                                </div>
                                <div class="col-md-1 pb-2  hide-mobile">
                                    <h6>Qty</h6>
                                </div>
                                <div class="col-md-2 pb-2  hide-mobile">
                                    <h6>Line Total</h6>
                                </div>
                            </div>
                            <div class="row div-no-hover " (click)="getProduct(orderItem.ProductID)"
                                *ngFor="let i = index;let orderItem of orderService.orderItems">
                                <div class="col-md-5 pb-2">
                                    <img [src]='orderService.imageUrl[i]' />
                                    <span class="product-sku"> Item Description:
                                    </span>
                                    <p class="form-detail">
                                        {{orderItem.Description}}
                                        <!-- </a> -->
                                    </p>
                                </div>
                                <div class="col-md-2 pb-2">
                                    <span class="product-sku">SKU:
                                    </span>
                                    <p class="form-detail">{{orderItem.SKU}}</p>
                                </div>
                                <div class="col-md-2 pb-2">
                                    <span class="product-sku">Price:
                                    </span>
                                    <p class="form-detail">{{orderItem.Price | currency}}</p>
                                </div>
                                <div class="col-md-1 pb-2">
                                    <span class="product-sku">Qty:
                                    </span>
                                    <p class="form-detail">{{orderItem.ItemCount}}</p>
                                </div>
                                <div class="col-md-2 pb-2">
                                    <span class="product-sku">Line Total:
                                    </span>
                                    <p class="form-detail">{{orderItem.LineTotal | currency}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col demo-title-sm pb-2 pad-left">
                            <i class="fa fa-cart-arrow-down fa-sm"></i><span class="demo-title-sm"> Order
                                Totals</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pb-2">
                            <h6>Sub Total</h6>
                            <p class="form-detail">{{order.OrderSubTotal | currency}}</p>
                        </div>
                        <div class="col-md-3 pb-2">
                            <h6>Shipping Charge</h6>
                            <p class="form-detail">{{order.ShippingCharge | currency}}</p>
                        </div>
                        <div class="col-md-3 pb-2">
                            <h6>Tax</h6>
                            <p class="form-detail">{{order.Tax | currency}}</p>
                        </div>
                        <div class="col-md-3 pb-2">
                            <h6>Order Total</h6>
                            <p class="form-detail">{{order.OrderTotal | currency}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="orderService.count > 5">
        <div class="row mt-4">
            <div class="col">
                <pagination-controls id="pagination2" boundaryLinks="true" (pageChange)="orderService.p=$event"
                    directionLinks="true" maxSize="5" previousLabel="Prev" nextLabel="Next">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
