<div class="home-container" style="margin-top: 0%;">
  <div class="box">
    <div class="title">
      <span class="block"></span>
      <h1>Daniel Cassin<span></span></h1>
    </div>
    <div class="role">
      <div class="block"></div>
      <p>Software Developer</p>
    </div>

  </div>
</div>

<div class="container">
  <!-- <div class="row mb-2 mt-1 div-center hide-mobile">
        <div class="col pb-1">
            <div id="example"><span>Senior
                    .NET Developer with over ten years experience
                    on the Microsoft Stack</span>
            </div>
        </div>
    </div> -->
  <br>

  <div class="row mb-2 mt-4 div-center">
    <div class="col-md-6 pb-1 ">
      <h4 class="div-center animate five">
        <span>E</span><span>n</span><span>v</span><span>i</span><span>r</span><span>o</span><span>n</span><span>m</span>
        <span>e</span><span>n</span><span>t</span><span>s</span>
      </h4>
      <p class="fadein">Visual Studio, Visual Studio Code, C#, Node Package Manager,
        Angular CLI, Azure
      </p>
    </div>
    <div class="col-md-6 pb-1 ">
      <h4 class="div-center animate five">
        <span>F</span><span>r</span><span>a</span><span>m</span><span>e</span><span>w</span><span>o</span><span>r</span>
        <span>k</span><span>s</span>
      </h4>
      <p class="fadein"> .NET Core 5.0, Entity Framework Core, .NET Framework, Entity Framework, ADO.NET
      </p>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-md-6 pb-1 ">
      <h4 class="div-center animate five">
        <span>D</span><span>a</span><span>t</span><span>a</span><span>b</span><span>a</span><span>s</span><span>e</span>
      </h4>
      <p class="fadein">SQL Server, SSMS, Stored Procedures, Functions, Views, Indexing, Optimization,
        Normalization </p>
    </div>
    <div class="col-md-6 pb-1">
      <h4 class="div-center animate five">
        <span>F</span><span>r</span><span>o</span><span>n</span><span>t</span><span>&nbsp;</span><span>E</span><span>n</span>
        <span>d</span>
      </h4>
      <p class="fadein">HTML 5, CSS, SCSS, Responsive Web Design, Angular,
        Knockout, JQuery, AJAX
      </p>
    </div>

  </div>
  <div class="row mb-4">
    <div class="col-md-6 pb-1">
      <h4 class="div-center animate five">
        <span>S</span><span>c</span><span>r</span><span>i</span><span>p</span><span>t</span><span>i</span><span>n</span>
        <span>g</span>
      </h4>
      <p class="fadein">Angular 12, Typescript, Components, Templates, Models, Services, Modules, Routing,
        Authentication
      </p>
    </div>
    <div class="col-md-6 pb-1">
      <h4 class="div-center animate five">
        <span>D</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span>
      </h4>
      <p class="fadein">Microservices, SOA, Test Driven Development, SOLID Design Principles</p>
    </div>
  </div>

  <!-- <div class="row mb-2 div-center">
        <div class="col pb-1">
            <h4 class="animate five">
                <span>L</span><span>i</span><span>v</span><span>e</span>&nbsp;
                <span>D</span><span>e</span><span>m</span><span>o</span><span>s</span>
            </h4>
        </div>
    </div>

    <div class="container div-center product-sku">
        <div class="row mb-2">
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../products"]'>e-Commerce</a>
                </button>
            </div>
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../customers"]'>Order History</a>
                </button>
            </div>
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../sales-tracker"]'>Sales Tracker </a>
                </button>
            </div>
        </div>
    </div>
    <div class="container div-center">
        <div class="row mb-4 fadein products-header">
            <div class="col-md-4 flip-card flip-background pb-2">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            e-Commerce
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p class="flip-back-text">
                            Shopping cart and checkout functionality using
                            Angular 12 and .NET Core 5.0
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="e-Commerce" [routerLinkActive]="['active']"
                                [routerLink]='["../products"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 flip-card pb-2 flip-background">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            Order History
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p class="flip-back-text">
                            View customer order history. Track and chart data by customer, date, amount.
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="Order History" [routerLinkActive]="['active']"
                                [routerLink]='["../customers"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 flip-card pb-2 flip-background">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            Sales Tracker
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p>
                            View and track sales performance data with Syncfusion Angular Charts
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="Sales Tracker" [routerLinkActive]="['active']"
                                [routerLink]='["../sales-tracker"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <div class="row mb-2 div-center">
        <div class="col pb-1">
            <h4 class="animate five">
                <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
                &nbsp;<span>T</span><span>o</span><span>o</span><span>l</span><span>s</span>
            </h4>
        </div>
    </div>
    <div class="container div-center product-sku">
        <div class="row mb-2">
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../products"]'>Azure Git Repo</a>
                </button>
            </div>
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../customers"]'>Azure Dev Ops</a>
                </button>
            </div>
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../sales-tracker"]'>.NET Core Setup </a>
                </button>
            </div>
        </div>
    </div>
    <div class="container div-center">
        <div class="row mb-4 fadein products-header">
            <div class="col-md-4 flip-card flip-background pb-2">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            Azure Git Repo
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p class="flip-back-text">
                            Shopping cart and checkout functionality using
                            Angular 12 and .NET Core 5.0
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="e-Commerce" [routerLinkActive]="['active']"
                                [routerLink]='["../products"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 flip-card pb-2 flip-background">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            Azure Dev Ops
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p class="flip-back-text">
                            View customer order history. Track and chart data by customer, date, amount.
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="Order History" [routerLinkActive]="['active']"
                                [routerLink]='["../customers"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 flip-card pb-2 flip-background">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            .NET Core Setup
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p>
                            View and track sales performance data with Syncfusion Angular Charts
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="Sales Tracker" [routerLinkActive]="['active']"
                                [routerLink]='["../sales-tracker"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container div-center product-sku">
        <div class="row mb-2">
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../products"]'>JWT Open API</a>
                </button>
            </div>
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../customers"]'>Interview Prep</a>
                </button>
            </div>
            <div class="col-md-4 pb-2">
                <button class="btn round-button flip-background">
                    <a [routerLink]='["../sales-tracker"]'>Syncfusion Charts</a>
                </button>
            </div>
        </div>
    </div>
    <div class="container div-center">
        <div class="row mb-4 fadein products-header">
            <div class="col-md-4 flip-card flip-background pb-2">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            JWT Open API
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p class="flip-back-text">
                            Shopping cart and checkout functionality using
                            Angular 12 and .NET Core 5.0
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="e-Commerce" [routerLinkActive]="['active']"
                                [routerLink]='["../products"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 flip-card pb-2 flip-background">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            Interview Prep
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p class="flip-back-text">
                            View customer order history. Track and chart data by customer, date, amount.
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="Order History" [routerLinkActive]="['active']"
                                [routerLink]='["../customers"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 flip-card pb-2 flip-background">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h4>
                            Syncfusion Charts
                        </h4>
                    </div>
                    <div class="flip-card-back flip-background">
                        <p>
                            View and track sales performance data with Syncfusion Angular Charts
                        </p>
                        <br>
                        <p>
                            <a class="btn btn-secondary" title="Sales Tracker" [routerLinkActive]="['active']"
                                [routerLink]='["../sales-tracker"]'>Visit <i
                                    class="fa fa-angle-right fa-sm fa-white"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/BUYSGVLPINCX5EM32OM33WQ6AU.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 (click)="navigate('products')">Shopping Cart & Checkout functionality using Angular 12 & .NET Core 5.0
            </h5>
            <p>
              - Daniel Cassin
            </p>
            <p>This example uses Angular HTTP Client and .NET Core API to allow users to view, filter, search, sort, and
              add products to their shopping cart.
              The Shopping Cart component allows user to review and change their order, while the Checkout component
              provides the ability to review
              and submit the order and also implements credit card number validation
            </p>
            <a (click)="navigate('products')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/Google_tracking_head.jpg');">
            <!-- <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span> -->
          </div>
          <div class="blog-card__info">
            <h5 (click)="navigate('customers')">Track Customer Order data</h5>
            <p>
              - Daniel Cassin
              <!-- <a [routerLink]="['sales-tracker']" [routerLinkActive]="['active']" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> by Daniel Cassin</a> -->
            </p>
            <p>
              This component calls the .NET Core REST API to display a list of customers which provides standard search,
              sort, paging functionality. The
              list can also be drilled into to view individual customer details, order history, etc. 
            </p>
            <a (click)="navigate('customers')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main" style="background-image: url('../../assets/img/charttype_1.png');">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head">
          </div>
          <div class="blog-card__info">
            <h5 (click)="navigate('sales-tracker')">View and track sales performance data with Syncfusion Angular Charts
            </h5>
            <p>
              - Daniel Cassin
            </p>
            <p>
              This component uses the .NET Core API to retrieve individual employee sales data for each member of the
              team. It also uses
              Syncfusion line, column, accumulation, and multi-column charts to provide an attractive display of
              individual and aggregate data
            </p>
            <a (click)="navigate('sales-tracker')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main" style="background-image: url('../../assets/img/charttype_1.png');">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head">
          </div>
          <div class="blog-card__info">
            <h5>Syncfusion Angular Charts Summary</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>This example provides a summary of many of the Syncfusion charts used throughout the application</p>
            <a (click)="navigate('all-charts')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
 

  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/maxresdefault.jpg');">
            <!-- <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span> -->
          </div>
          <div class="blog-card__info">
            <h5>Creating a .NET Core API with Visual Studio 2019 & .NET Core 5.0</h5>
            <p>
              - Daniel Cassin
              <!-- <a [routerLink]="['sales-tracker']" [routerLinkActive]="['active']" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> by Daniel Cassin</a> -->
            </p>
            <p>In this article I show how to create a .NET Core API using Entity Framework Core</p>
            <!-- <a (click)="navigate('developer')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a> -->
            <div class="accordion" id="accordion3">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading3">
                  <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    1. What are the 4 pillars of Object Oriented Programming?
                  </button> -->
                  <a data-bs-toggle="collapse" (click)="showDetails(3)" data-bs-target="#collapse3" aria-expanded="false"
                    aria-controls="collapse3" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails3 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                  data-bs-parent="#accordion3">
                  <div class="accordion-body p-indent">
                    <h5>Setting up the .NET Core API</h5>
                    <ol>
                      <li>
                        Install the following nuget packages
                        <ul style="list-style: square;">
                          <li>
                            Microsoft.EntityFrameworkCore.SqlServer
                          </li>
                          <li>
                            Microsoft.EntityFrameworkCore.Tools
                          </li>
                          <li>
                            Bricelam.EntityFrameworkCore.Pluralizer
                          </li>
                          <li>
                            Microsoft.AspNetCore.Mvc.NewtonsoftJson
                          </li>
                          <li>
                            Microsoft.Extensions.Configuration
                          </li>
                          <li>
                            Microsoft.Extensions.Configuration.FileExtensions
                          </li>
                          <li>
                            Microsoft.Extensions.Configuration.Json
                          </li>
                        </ul>
                      </li>
                      <br>
                      <li>
                        <div class="row mb-2">
                          <div class="col-md-10">
                            Using Package Manager Console, Scaffold DbContext as follows
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre2')">Copy</a></span>
                            <pre id="pre2" class="pre-content">
                                                    {{dbContext}}
                                                </pre>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row mb-2">
                          <div class="col-md-10">
                            In appsettings.json, add Connecton Strings and Application Settings
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre1')">Copy</a></span>
                            <pre id="pre1" class="pre-content">
                                        {{connStrings}} 
                                    </pre>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row mb-2">
                          <div class="col-md-10">
                            Add the following to the Startup.cs class
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre3')">Copy</a></span>
                            <pre id="pre3" class="pre-content">
                                        {{item4}}
                                    </pre>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row mb-2">
                          <div class="col-md-10">
                            (optional) In your dbcontext class, OnConfiguring method, replace the
                            connection string with
                            the following
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre4')">Copy</a></span>
                            <pre id="pre4" class="pre-content">
                                        {{item9}}
                                    </pre>
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/jwt.jpg');">
            <!-- <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span> -->
          </div>
          <div class="blog-card__info">
            <h5>Implementing Open API with JSON Web Tokens & .NET Core 5.0</h5>
            <p>
              - Daniel Cassin
              <!-- <a [routerLink]="['sales-tracker']" [routerLinkActive]="['active']" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> by Daniel Cassin</a> -->
            </p>
            <p>With this example I provide a step by step approach to implementing Authorization and Authentication
              using JSON Web Tokens and .NET Core API</p>

            <div class="accordion" id="accordion4">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading4">
                  <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                      1. What are the 4 pillars of Object Oriented Programming?
                    </button> -->
                  <a data-bs-toggle="collapse" (click)="showDetails(4)" data-bs-target="#collapse4" aria-expanded="false"
                    aria-controls="collapse4" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails4 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                  data-bs-parent="#accordion4">
                  <div class="accordion-body p-indent">
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 1: Setup
                    </h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <div class="row">
                      <div class="col">
                        <ol>
                          <li style="padding-bottom: 2px;">
                            First we need to <a [routerLink]="" class="btn-link" (click)="navigate('developer')">Create
                              the .NET Core
                              API</a>

                          </li>
                          <li>
                            <div class="row">
                              <div class="col-md-10">
                                Add the following Models
                                <span class="hide-mobile pull-right"><a class="copy-link"
                                    (click)="copyText('pre1')">Copy</a></span>
                                <pre id="pre1" class="pre-content">
                                                  {{identityModels}}
                                              </pre>
                              </div>
                            </div>
                          </li>
                        </ol>
                      </div>
                    </div>
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 2: Auth Context</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>

                        <div class="row">
                          <div class="col-md-10">
                            Create the AuthenticationContext class in Models folder
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre2')">Copy</a></span>
                            <pre id="pre2" class="pre-content">
                                          {{authenticationContext}}
                                      </pre>
                          </div>
                        </div>
                      </li>
                    </ol>
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 3: Configuration</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col-md-10">
                            Add Configuration classes
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre3')">Copy</a></span>
                            <pre id="pre3" class="pre-content">
                                          {{configuration}}
                                      </pre>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-10">
                            Configure connection, application, and identity settings
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre4')">Copy</a></span>
                            <pre id="pre4" class="pre-content">
                                          {{startup}}
                                      </pre>
                            <!-- <hr> -->
                          </div>
                        </div>
                      </li>
                    </ol>
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 4: Migrations</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        Using Package Manager Console, add code first migrations
                        <ul>
                          <li>
                            PM> add-migration initial
                          </li>
                          <li>
                            PM> update-database
                          </li>
                          <li>
                            Check SQL Server, we should now have a new database matching the name we gave it in
                            appsettings.json connection string
                          </li>
                        </ul>
                      </li>
                      <li>
                        Add a default admin role in sql database dbo.Role table
                        <ul>
                          <li>
                            {{jsonBody}}
                          </li>
                        </ul>
                      </li>
                    </ol>
                    <br><br>
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 5: Authorization</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col-md-10">
                            Create new folder Helpers, then add the following class
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre5')">Copy</a></span>
                            <pre id="pre5" class="pre-content">
                                      {{authHelper}}
                                  </pre>
                          </div>
                        </div>
                      </li>
                    </ol>
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 6: API Controller</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col-md-10">
                            Add the ApplicationUserController as follows
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre6')">Copy</a></span>
                            <pre id="pre6" class="pre-content">
                                                  {{controller}}
                                              </pre>
                          </div>
                        </div>
                      </li>
                      <li>
                        Add a default admin role in sql database dbo.Role table
                        <ul>
                          <li>
                            {{jsonBody}}
                          </li>
                        </ul>
                      </li>
                    </ol>
                    <br><br>
                    <h5>Implementing JWT with .NET Core API 5.0 - Part 7: Test User</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        In Postman, add a new Post request for user registration
                        <div class="row">
                          <div class="col-md-10">
                            <ul>
                              <li>
                                https://localhost:port/api/ApplicationUser/Register (example)
                              </li>
                              <li>
                                Add request body (JSON format)
                                <span class="hide-mobile pull-right"><a class="copy-link"
                                    (click)="copyText('pre11')">Copy</a></span>
                                <pre id="pre11" class="pre-content">
                                                          {{jsonBody}}
                                                      </pre>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        For Login, just change the endpoint from Register to Login
                        <ul>
                          <li>
                            https://localhost:port/api/ApplicationUser/Login
                          </li>
                        </ul>
                      </li>
                      <br>
                      <li>

                        <div class="row">
                          <div class="col-md-10">
                            The response should be a user token as follows
                            <span class="hide-mobile pull-right"><a class="copy-link"
                                (click)="copyText('pre12')">Copy</a></span>
                            <pre id="pre12" class="pre-content">
                                                  {{token}}
                                              </pre>
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- <a (click)="navigate('jwt')" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>CHECK
              IT OUT</a> -->
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">                
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
            <!-- <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span> -->
          </div>
          <div class="blog-card__info">
            <h5>Deploying Angular Client to Microsoft Azure from Local GIT Repo</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>In this article I demonstrate how to deploy an angular client app from a local git repo to an Azure App
              Service using the Azure Deployment Center</p>
            <div class="accordion" id="accordion1">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading1">
                  <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                          Read More
                      </button> -->
                  <a data-bs-toggle="collapse" (click)="showDetails(1)" data-bs-target="#collapse1" aria-expanded="false"
                    aria-controls="collapse1" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails1 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                  data-bs-parent="#accordion1">
                  <div class="accordion-body p-indent">
                    <h3 class="demo-title">
                      1 - In Azure Portal
                    </h3>
                    <ol>
                      <li>
                        Create a new Azure App Service (Create Web App)
                      </li>
                      <li>
                        Once it is finished deploying click (upper right of screen) Go to Resource button
                      </li>
                      <li>
                        Click on Deployment Center (on left menu under Deployment)
                      </li>
                      <li>
                        Select Local Git
                      </li>
                      <li>
                        Select App Service build service box and click Continue
                      </li>
                      <li>
                        Click Finish
                      </li>
                      <li>
                        Copy the uri from the Git Clone Uri (ex:
                        https://danielcassin.scm.azurewebsites.net:443/danielcassin.git)
                      </li>
                      <li>
                        Click on Deployment Credentials and setup/copy username & password as you will need it for git
                        local
                        repository
                      </li>
                    </ol>
                    <h3 class="demo-title">
                      2 - In Angular CLI
                    </h3>
                    <ol>
                      <li>
                        In order to create / update a dist folder which you will use for deployment to production
                        enter the following command:<br>
                        <span class="cmd">ng build --prod</span><br>
                      </li>
                      <li>
                        In File Explorer create a new folder above the project name (../Azure)
                      </li>
                      <li>
                        Inside this folder (in npm), create a new git repo with the following command:<br> <span
                          class="cmd">git init</span>
                      </li>
                      <li>
                        Copy the contents of the dist folder into this new folder
                      </li>
                      <li>
                        Add files to the git repo: <br> <span class="cmd">git add *.*</span>
                      </li>
                      <li>
                        Commit the new changes: <br> <span class="cmd">git commit --message "initial
                          checkin"</span>
                      </li>
                      <li>
                        Push changes to Azure app service: <br><span class="cmd">git remote add
                          origin https://dcassin234@jungle-client.scm.azurewebsites.net:443/jungle-client.git</span>
                      </li>
                      <li>
                        After Initial Check in (anytime you want to make changes) just repeat as follows
                        <ol>
                          <li><span class="cmd">ng build --prod </span>(copy/paste dist folder contents into azure
                            folder)
                          </li>
                          <li>
                            <span class="cmd">git add *.*</span>
                          </li>
                          <li>
                            <span class="cmd">git commit -m(essage) “some message”</span>
                          </li>
                          <li>
                            <span class="cmd">git push origin master</span>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- <a (click)="navigate('azure')" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a> -->
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background" >
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/AzureDevOps.png');">
            
            <!-- <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span> -->
          </div>
          <div class="blog-card__info">
            <h5>Azure Dev Ops</h5>
            <p>
              - Daniel Cassin
              <!-- <a [routerLink]="['sales-tracker']" [routerLinkActive]="['active']" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> by Daniel Cassin</a> -->
            </p>
            <p>In this article I show how to set up an Azure SQL Database, publish a .NET Core API from Visual Studio to
              an Azure App Service, and create an Azure Pipleline
              with Azure DevOps Starter
            </p>
            <!-- <a (click)="navigate('pipeline')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a> -->
            <div class="accordion" id="accordion2">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading2">
                  <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    1. What are the 4 pillars of Object Oriented Programming?
                  </button> -->
                  <a data-bs-toggle="collapse" (click)="showDetails(2)" data-bs-target="#collapse2" aria-expanded="false"
                    aria-controls="collapse2" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails2 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                  data-bs-parent="#accordion2">
                  <div class="accordion-body p-indent">
                    <h5>Setting up the Azure SQL Database</h5>
                    <ol>
                      <li>
                        From Azure Portal Favorites menu, select SQL databases
                      </li>
                      <li>
                        Click Add button
                      </li>
                      <li>
                        Create New Resource Group, give it a name
                      </li>
                      <li>
                        Select database name from suggestions
                      </li>
                      <li>
                        Under select a server, click Create New
                      </li>
                      <li>
                        Need to set up IP before we can deploy local db to azure
                        <ul>
                          <li>
                            Go to Firewall Settings and click an Add Client IP
                          </li>
                          <li>
                            Click Save button near top
                          </li>
                        </ul>
                      </li>
                      <li>
                        Go to SQL Server Management Studio
                        <ul>
                          <li>
                            Find the database to deploy and right click
                          </li>
                          <li>
                            Select tasks > Deploy to microsoft azure …
                          </li>
                          <li>
                            Enter the azure sql server name and login credentials
                          </li>
                        </ul>
                      </li>
                    </ol>
                    <h5>Publishing the Web API From Visual Studio</h5>
                    <ol>
                      <li>
                        From Home, Click on App Services
                      </li>
                      <li>
                        Click Create app service button
                      </li>
                      <li>
                        Select resource group (or Create New)
                      </li>
                      <li>
                        Give it a name (jungleapi)
                      </li>
                      <li>
                        Select runtime stack (.NET Core 3.1
                      </li>
                      <li>
                        Select region (West US)
                      </li>
                      <li>
                        Click review & create button
                      </li>
                      <li>
                        Click Create button … Deployment in progress
                      </li>
                      <li>
                        After deployment done (Your deployment is complete), then click Go to resource <br>
                        here you will see your URL, App service plan, etc..
                      </li>
                      <li>
                        In visual studio right click api project and click publish
                      </li>
                      <li>
                        Select resource group, service name
                      </li>
                      <li>
                        Click Edit link then Validate Connection
                      </li>
                      <li>
                        Click next, then save
                      </li>
                      <li>
                        Click publish button
                      </li>
                    </ol>
                    <h5>Create Azure pipeline for .NET with Azure DevOps Starter</h5>
                    <ol>
                      <li>
                        Sign in to Azure portal
                      </li>
                      <li>
                        From home page type DevOps Starter in search box
                      </li>
                      <li>
                        Click on Create DevOps starter button
                      </li>
                      <li>
                        Select .NET from the applications buttons menu
                      </li>
                      <li>
                        Select ASP.NET Core
                      </li>
                      <li>
                        Select Windows Web App
                      </li>
                      <li>
                        Enter project name (ex: JunglePipeline) & Azure DevOps Organization (ex: JungleOrganization)
                      </li>
                      <li>
                        Select Location (West)
                      </li>
                      <li>
                        Click Done button
                      </li>
                      <li>
                        After deployment is complete click Go to resource
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main"
                >
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
            <!-- <span class="date__box">
              <span class="date__day">11</span>
              <span class="date__month">JAN</span>
            </span> -->
          </div>
          <div class="blog-card__info">
            <h5>Common Interview Questions</h5>
            <p>
              - Daniel Cassin
              <!-- <a [routerLink]="['sales-tracker']" [routerLinkActive]="['active']" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> by Daniel Cassin</a> -->
            </p>
            <p>In this article I have included many common developer interview questions</p>
            <!-- <a (click)="navigate('devquiz')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a> -->
            <div class="accordion" id="accordion5">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading5">
                  <!-- <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            1. What are the 4 pillars of Object Oriented Programming?
                          </button> -->
                  <a data-bs-toggle="collapse" (click)="showDetails(5)" data-bs-target="#collapse5" aria-expanded="false"
                    aria-controls="collapse5" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails5 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                  data-bs-parent="#accordion5">
                  <app-interview-questions></app-interview-questions>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <section class="detail-page">
    <div class="container mt-5">
      <div class="hide-mobile div-center">
        <img src="../../assets/img/vs2019_1_75.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/c_sharp_200x100_75.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/netcore_new_200x100_75.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/visual_studio_code_banner_200x100_75.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/Angular-9_200x100_75.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <img src="../../assets/img/typescriptfeature-490x305_200x100_75.png" /> -->
      </div>
    </div>
  </section>