<div class="home-container" style="margin-top: 0%;">
  <div class="box">
    <div class="title">
      <span class="block"></span>
      <h1>Daniel Cassin<span></span></h1>
    </div>
    <div class="role">
      <div class="block"></div>
      <p>Software Developer</p>
    </div>

  </div>
</div>
<div class="container">
  <div class="row mb-2 mt-5 div-center">
    <div class="col-md-6 pb-1 ">
      <h4 class="div-center animate five">
        <span>E</span><span>n</span><span>v</span><span>i</span><span>r</span><span>o</span><span>n</span><span>m</span>
        <span>e</span><span>n</span><span>t</span><span>s</span>
      </h4>
      <p class="fadein">Visual Studio, Visual Studio Code, C#, Node Package Manager,
        Angular CLI, Azure
      </p>
    </div>
    <div class="col-md-6 pb-1 ">
      <h4 class="div-center animate five">
        <span>F</span><span>r</span><span>a</span><span>m</span><span>e</span><span>w</span><span>o</span><span>r</span>
        <span>k</span><span>s</span>
      </h4>
      <p class="fadein"> .NET Core 5.0, Entity Framework Core, .NET Framework, Entity Framework, ADO.NET
      </p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6 pb-1 ">
      <h4 class="div-center animate five">
        <span>D</span><span>a</span><span>t</span><span>a</span><span>b</span><span>a</span><span>s</span><span>e</span>
      </h4>
      <p class="fadein">SQL Server, SSMS, Stored Procedures, Functions, Views, Indexing, Optimization,
        Normalization </p>
    </div>
    <div class="col-md-6 pb-1">
      <h4 class="div-center animate five">
        <span>F</span><span>r</span><span>o</span><span>n</span><span>t</span><span>&nbsp;</span><span>E</span><span>n</span>
        <span>d</span>
      </h4>
      <p class="fadein">HTML 5, CSS, SCSS, Responsive Web Design, Angular,
        Knockout, JQuery, AJAX
      </p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6 pb-1">
      <h4 class="div-center animate five">
        <span>S</span><span>c</span><span>r</span><span>i</span><span>p</span><span>t</span><span>i</span><span>n</span>
        <span>g</span>
      </h4>
      <p class="fadein">Angular 12, Typescript, Components, Templates, Models, Services, Modules, Routing,
        Authentication
      </p>
    </div>
    <div class="col-md-6 pb-1">
      <h4 class="div-center animate five">
        <span>D</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span>
      </h4>
      <p class="fadein">Microservices, SOA, Test Driven Development, SOLID Design Principles</p>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head"
            style="background-image: url('../../assets/img/BUYSGVLPINCX5EM32OM33WQ6AU.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 (click)="navigate('products')">Shopping Cart & Checkout functionality using Angular 12 & .NET Core 5.0
            </h5>
            <p>
              - Daniel Cassin
            </p>
            <p>This example uses Angular HTTP Client and .NET Core API to allow users to view, filter, search, sort, and
              add products to their shopping cart.
              The Shopping Cart component allows user to review and change their order, while the Checkout component
              provides the ability to review
              and submit the order and also implements credit card number validation
            </p>
            <a (click)="navigate('products')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/charttype_1.png');">
          </div>
          <div class="blog-card__info">
            <h5 (click)="navigate('customers')">Track Customer Order data</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>
              This component calls the .NET Core REST API to display a list of customers which provides standard search,
              sort, paging functionality. The
              list can also be drilled into to view individual customer details, order history, etc.
            </p>
            <a (click)="navigate('customers')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main" style="background-image: url('../../assets/img/charttype_1.png');">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head">
          </div>
          <div class="blog-card__info">
            <h5 (click)="navigate('sales-tracker')">View and track sales performance data with Syncfusion Angular Charts
            </h5>
            <p>
              - Daniel Cassin
            </p>
            <p>
              This component uses the .NET Core API to retrieve individual employee sales data for each member of the
              team. It also uses
              Syncfusion line, column, accumulation, and multi-column charts to provide an attractive display of
              individual and aggregate data
            </p>
            <a (click)="navigate('sales-tracker')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main" style="background-image: url('../../assets/img/charttype_1.png');">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head">
          </div>
          <div class="blog-card__info">
            <h5>Syncfusion Angular Charts Summary</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>This example provides a summary of many of the Syncfusion charts used throughout the application</p>
            <a (click)="navigate('all-charts')" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>CHECK IT OUT</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5" id="netcore">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 data-bs-toggle="collapse" (click)="showDetails(3)" data-bs-target="#collapse3" aria-expanded="false"
              aria-controls="collapse3">Creating a .NET Core API with Visual Studio 2019 & .NET Core 5.0</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>In this article I show how to create a .NET Core API using Entity Framework Core</p>
            <div class="accordion" id="accordion3">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading3">
                  <a data-bs-toggle="collapse" (click)="showDetails(3)" data-bs-target="#collapse3"
                    aria-expanded="false" aria-controls="collapse3" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails3 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                  data-bs-parent="#accordion3">
                  <div class="accordion-body p-indent">
                    <h5 class="hdr-5">Setting up the .NET Core API</h5>
                    <ol>
                      <li>
                        Install the following nuget packages
                        <ul style="list-style: square;overflow-x: auto;">
                          <li>
                            Microsoft.EntityFrameworkCore.SqlServer
                          </li>
                          <li>
                            Microsoft.EntityFrameworkCore.Tools
                          </li>
                          <li>
                            Bricelam.EntityFrameworkCore.Pluralizer
                          </li>
                          <li>
                            Microsoft.AspNetCore.Mvc.NewtonsoftJson
                          </li>
                          <li>
                            Microsoft.Extensions.Configuration
                          </li>
                          <li>
                            Microsoft.Extensions.Configuration.FileExtensions
                          </li>
                          <li>
                            Microsoft.Extensions.Configuration.Json
                          </li>
                        </ul>
                      </li>
                      <br>
                      <li>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Using Package Manager Console, Scaffold DbContext as follows
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('pre2')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <pre id="pre2" class="pre-content">
                                {{dbContext}}
                            </pre>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                In appsettings.json, add Connecton Strings and Application Settings
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('pre1')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='connStringsSafe' id="pre1">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Add the following to the Startup.cs class
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('pre3')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='item4Safe' id="pre3">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row mb-2">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                In your dbcontext class, OnConfiguring method, replace the
                                connection string with
                                the following
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('pre4')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='item9Safe' id="pre4">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 data-bs-toggle="collapse" (click)="showDetails(4)" data-bs-target="#collapse4" aria-expanded="false"
              aria-controls="collapse4">Implementing Open API with JSON Web Tokens & .NET Core 5.0</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>With this example I provide a step by step approach to implementing Authorization and Authentication
              using JSON Web Tokens and .NET Core API</p>

            <div class="accordion" id="accordion4">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading4">
                  <a data-bs-toggle="collapse" (click)="showDetails(4)" data-bs-target="#collapse4"
                    aria-expanded="false" aria-controls="collapse4" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails4 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                  data-bs-parent="#accordion4">
                  <div class="accordion-body p-indent">
                    <h5 class="hdr-5">Part 1: Setup / Models
                    </h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <div class="row">
                      <div class="col">
                        <ol>
                          <li style="padding-bottom: 2px;">
                            First we need to <a href="#netcore" class="btn-link">Create
                              the .NET Core
                              API</a>

                          </li>
                          <li>
                            <div class="row">
                              <div class="col">
                                Add the following Models
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('preIdentityModels')">Copy</a></span>
                                <!-- <span ><a class="copy-link pull-right" (click)="copyText('preIdentityModels')">JavaScript</a></span>
                                <span ><a class="copy-link pull-right" (click)="copyText('preIdentityModels')">C#</a></span> -->
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='identityModelsSafe' id="preIdentityModels">
                                </div>
                              </div>
                            </div>
                          </li>
                        </ol>
                      </div>
                    </div>
                    <h5 class="hdr-5">Part 2: Auth Context</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Create the AuthenticationContext class in Models folder
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('authenticationContext')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='authenticationContextSafe' id="authenticationContext">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ol>
                    <h5 class="hdr-5">Part 3: Configuration</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Add Configuration classes
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('configuration')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='configurationSafe' id="configuration">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Configure connection, application, and identity settings
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('startup')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='startupSafe' id="startup">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ol>
                    <h5 class="hdr-5">Part 4: Migrations</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        Using Package Manager Console, add code first migrations
                        <ul style="list-style: square;">
                          <li>
                            PM> add-migration initial
                          </li>
                          <li>
                            PM> update-database
                          </li>
                          <li>
                            Check SQL Server, we should now have a new database matching the name we gave it in
                            appsettings.json connection string
                          </li>
                        </ul>
                      </li>
                      <li>
                        Add a default admin role in sql database dbo.Role table
                        <ul style="list-style: square;">
                          <li>
                            {{jsonBody}}
                          </li>
                        </ul>
                      </li>
                    </ol>
                    <h5 class="hdr-5">Part 5: Authorization</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Create new folder Helpers, then add the following class
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('authHelper')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='authHelperSafe' id="authHelper">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ol>
                    <h5 class="hdr-5">Part 6: Create the API Controller</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                Add the ApplicationUserController as follows
                                <span><a class="copy-link copy-link-right pull-right"
                                    (click)="copyText('controller')">Copy</a></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div [innerHTML]='controllerSafe' id="controller">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        Add a default admin role in sql database dbo.Role table
                        <ul style="list-style: square;">
                          <li>
                            {{jsonBody}}
                          </li>
                        </ul>
                      </li>
                    </ol>
                    <h5 class="hdr-5">Part 7: Test User</h5>
                    <p>
                      - Daniel Cassin
                    </p>
                    <ol>
                      <li>
                        In Postman, add a new Post request for user registration
                        <ul style="list-style: square;overflow-x: auto;">
                          <li>
                            https://localhost:port/api/ApplicationUser/Register (example)
                          </li>
                          <li>
                            Add request body (JSON format): {{jsonBody}}
                          </li>
                        </ul>
                      </li>
                      <li>
                        For Login, just change the endpoint from Register to Login
                        <ul style="list-style: square;overflow-x: auto;">
                          <li>
                            https://localhost:port/api/ApplicationUser/Login
                          </li>
                        </ul>
                      </li>
                      <li>
                       <div class="row">
                         <div class="col">
                          The response should be a user token as follows:
                          <span><a class="copy-link copy-link-right pull-right"
                            (click)="copyText('token')">Copy</a></span>
                         </div>
                       </div>
                       <div class="row">
                         <div class="col">
                          <pre id="token" class="pre-content">
                            {{token}}</pre>
                         </div>
                       </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 data-bs-toggle="collapse" (click)="showDetails(1)" data-bs-target="#collapse1" aria-expanded="false"
              aria-controls="collapse1">Deploying Angular Client to Microsoft Azure from Local GIT Repo</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>In this article I demonstrate how to deploy an angular client app from a local git repo to an Azure App
              Service using the Azure Deployment Center</p>
            <div class="accordion" id="accordion1">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading1">
                  <a data-bs-toggle="collapse" (click)="showDetails(1)" data-bs-target="#collapse1"
                    aria-expanded="false" aria-controls="collapse1" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails1 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                  data-bs-parent="#accordion1">
                  <div class="accordion-body p-indent">
                    <h3 class="demo-title">
                      1 - In Azure Portal
                    </h3>
                    <ol>
                      <li>
                        Create a new Azure App Service (Create Web App)
                      </li>
                      <li>
                        Once it is finished deploying click (upper right of screen) Go to Resource button
                      </li>
                      <li>
                        Click on Deployment Center (on left menu under Deployment)
                      </li>
                      <li>
                        Select Local Git
                      </li>
                      <li>
                        Select App Service build service box and click Continue
                      </li>
                      <li>
                        Click Finish
                      </li>
                      <li style="overflow-x: auto;">
                        Copy the uri from the Git Clone Uri (ex:
                        https://danielcassin.scm.azurewebsites.net:443/danielcassin.git)
                      </li>
                      <li>
                        Click on Deployment Credentials and setup/copy username & password as you will need it for git
                        local
                        repository
                      </li>
                    </ol>
                    <h3 class="demo-title">
                      2 - In Angular CLI
                    </h3>
                    <ol>
                      <li>
                        In order to create / update a dist folder which you will use for deployment to production
                        enter the following command:<br>
                        <span class="cmd">ng build --prod</span><br>
                      </li>
                      <li>
                        In File Explorer create a new folder above the project name (../Azure)
                      </li>
                      <li>
                        Inside this folder (in npm), create a new git repo with the following command:<br> <span
                          class="cmd">git init</span>
                      </li>
                      <li>
                        Copy the contents of the dist folder into this new folder
                      </li>
                      <li>
                        Add files to the git repo: <br> <span class="cmd">git add *.*</span>
                      </li>
                      <li>
                        Commit the new changes: <br> <span class="cmd">git commit --message "initial
                          checkin"</span>
                      </li>
                      <li style="overflow-x: auto;">
                        Push changes to Azure app service: <br><span class="cmd">git remote add
                          origin https://dcassin234@jungle-client.scm.azurewebsites.net:443/jungle-client.git</span>
                      </li>
                      <li>
                        After Initial Check in (anytime you want to make changes) just repeat as follows
                        <ol>
                          <li><span class="cmd">ng build --prod </span>(copy/paste dist folder contents into azure
                            folder)
                          </li>
                          <li>
                            <span class="cmd">git add *.*</span>
                          </li>
                          <li>
                            <span class="cmd">git commit -m(essage) “some message”</span>
                          </li>
                          <li>
                            <span class="cmd">git push origin master</span>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 data-bs-toggle="collapse" (click)="showDetails(2)" data-bs-target="#collapse2" aria-expanded="false"
              aria-controls="collapse2">Azure Dev Ops</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>In this article I show how to set up an Azure SQL Database, publish a .NET Core API from Visual Studio to
              an Azure App Service, and create an Azure Pipleline
              with Azure DevOps Starter
            </p>
            <div class="accordion" id="accordion2">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading2">
                  <a data-bs-toggle="collapse" (click)="showDetails(2)" data-bs-target="#collapse2"
                    aria-expanded="false" aria-controls="collapse2" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails2 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                  data-bs-parent="#accordion2">
                  <div class="accordion-body p-indent">
                    <h5 class="hdr-5">Setting up the Azure SQL Database</h5>
                    <ol>
                      <li>
                        From Azure Portal Favorites menu, select SQL databases
                      </li>
                      <li>
                        Click Add button
                      </li>
                      <li>
                        Create New Resource Group, give it a name
                      </li>
                      <li>
                        Select database name from suggestions
                      </li>
                      <li>
                        Under select a server, click Create New
                      </li>
                      <li>
                        Need to set up IP before we can deploy local db to azure
                        <ul style="list-style: square;">
                          <li>
                            Go to Firewall Settings and click an Add Client IP
                          </li>
                          <li>
                            Click Save button near top
                          </li>
                        </ul>
                      </li>
                      <li>
                        Go to SQL Server Management Studio
                        <ul style="list-style: square;">
                          <li>
                            Find the database to deploy and right click
                          </li>
                          <li>
                            Select tasks > Deploy to microsoft azure …
                          </li>
                          <li>
                            Enter the azure sql server name and login credentials
                          </li>
                        </ul>
                      </li>
                    </ol>
                    <h5 class="hdr-5">Publishing the Web API From Visual Studio</h5>
                    <ol>
                      <li>
                        From Home, Click on App Services
                      </li>
                      <li>
                        Click Create app service button
                      </li>
                      <li>
                        Select resource group (or Create New)
                      </li>
                      <li>
                        Give it a name (jungleapi)
                      </li>
                      <li>
                        Select runtime stack (.NET Core 3.1
                      </li>
                      <li>
                        Select region (West US)
                      </li>
                      <li>
                        Click review & create button
                      </li>
                      <li>
                        Click Create button … Deployment in progress
                      </li>
                      <li>
                        After deployment done (Your deployment is complete), then click Go to resource <br>
                        here you will see your URL, App service plan, etc..
                      </li>
                      <li>
                        In visual studio right click api project and click publish
                      </li>
                      <li>
                        Select resource group, service name
                      </li>
                      <li>
                        Click Edit link then Validate Connection
                      </li>
                      <li>
                        Click next, then save
                      </li>
                      <li>
                        Click publish button
                      </li>
                    </ol>
                    <h5 class="hdr-5">Create Azure pipeline for .NET with Azure DevOps Starter</h5>
                    <ol>
                      <li>
                        Sign in to Azure portal
                      </li>
                      <li>
                        From home page type DevOps Starter in search box
                      </li>
                      <li>
                        Click on Create DevOps starter button
                      </li>
                      <li>
                        Select .NET from the applications buttons menu
                      </li>
                      <li>
                        Select ASP.NET Core
                      </li>
                      <li>
                        Select Windows Web App
                      </li>
                      <li>
                        Enter project name (ex: JunglePipeline) & Azure DevOps Organization (ex: JungleOrganization)
                      </li>
                      <li>
                        Select Location (West)
                      </li>
                      <li>
                        Click Done button
                      </li>
                      <li>
                        After deployment is complete click Go to resource
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 data-bs-toggle="collapse" (click)="showDetails(5)" data-bs-target="#collapse5" aria-expanded="false"
              aria-controls="collapse5">Common Interview Questions</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>In this article I have included many common developer interview questions</p>
            <h2 class="accordion-header" id="heading5">
              <a data-bs-toggle="collapse" (click)="showDetails(5)" data-bs-target="#collapse5" aria-expanded="false"
                aria-controls="collapse5" class="btn btn--with-icon"><i
                  class="btn-icon fa fa-long-arrow-right"></i>{{isDetails5 ? 'READ MORE' : 'READ LESS'}}</a>
            </h2>
            <div *ngIf='!isDetails5'>
              <app-interview-questions></app-interview-questions>
            </div>
            <!-- <div class="accordion" id="accordion5">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading5">
                  <a data-bs-toggle="collapse" (click)="showDetails(5)" data-bs-target="#collapse5"
                    aria-expanded="false" aria-controls="collapse5" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails5 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                  data-bs-parent="#accordion5">
                  <app-interview-questions></app-interview-questions>
                </div>
              </div>
            </div> -->
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head" style="background-image: url('../../assets/img/GettyImages-1197646065.jpg');">
          </div>
          <div class="blog-card__info">
            <h5 data-bs-toggle="collapse" (click)="showDetails(6)" data-bs-target="#collapse6" aria-expanded="false"
              aria-controls="collapse6">Coding Challenges</h5>
            <p>
              - Daniel Cassin
            </p>
            <p>In this article I have included a few common developer interview coding challenges</p>
            <h2 class="accordion-header" id="heading6">
              <a data-bs-toggle="collapse" (click)="showDetails(6)" data-bs-target="#collapse6" aria-expanded="false"
                aria-controls="collapse6" class="btn btn--with-icon"><i
                  class="btn-icon fa fa-long-arrow-right"></i>{{isDetails6 ? 'READ MORE' : 'READ LESS'}}</a>
            </h2>
            <div *ngIf='!isDetails6'>
              <app-coding-challenges></app-coding-challenges>
            </div>
            <!-- <div class="accordion" id="accordion6">
              <div class="accordion-item" style="border: none;">
                <h2 class="accordion-header" id="heading6">
                  <a data-bs-toggle="collapse" (click)="showDetails(6)" data-bs-target="#collapse6"
                    aria-expanded="false" aria-controls="collapse6" class="btn btn--with-icon"><i
                      class="btn-icon fa fa-long-arrow-right"></i>{{isDetails6 ? 'READ MORE' : 'READ LESS'}}</a>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                  data-bs-parent="#accordion6">
                  <app-coding-challenges></app-coding-challenges>
                </div>
              </div>
            </div> -->
          </div>
        </article>
      </div>
    </div>
  </div>
  <!-- <div class="container" >
    <div class="row mt-2" *ngIf="isDetails6">
      <div class="col-md-6">
        <div class="card-header" style="border-radius: 2px;">
          C# Solution - Min Length substring
        </div>
        <div [innerHTML]='safeHtml'>
  
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-header" style="border-radius: 2px;">
          C# Solution - Max Length substring
        </div>
        <div [innerHTML]='safeMax'>
  
        </div>
      </div>
    </div>
  </div> -->
  <section class="detail-page">
    <div class="container mt-5">
      <div class="hide-mobile div-center">
        <img src="../../assets/img/vs2019_1_75.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/c_sharp_200x100_75.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/netcore_new_200x100_75.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/visual_studio_code_banner_200x100_75.png" />&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="../../assets/img/Angular-9_200x100_75.jpg" />&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </section>
