<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <ngx-spinner bdColor="#333" size="medium" color="#eca511" type="cube-transition">
          <p class="spinner">Loading...</p>
        </ngx-spinner>
      </div>
    </div>
    <div class="div-secondary mb-1 div-center">
      <h3>
        <i class="fa fa fa-history fa-md"></i> Order History
      </h3>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col">
            <app-customer-list></app-customer-list>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <app-customer></app-customer>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="demo-title-lg">
              Preferred Customers</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-funnel-chart></app-funnel-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
