<ejs-chart [legendSettings]='legendSettings' [tooltip]='tooltip' [primaryXAxis]='primaryXAxis'
    [primaryYAxis]='primaryYAxis' [title]='title' [titleStyle]='titleStyle'>
    <e-series-collection>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Buffy' name='Buffy' [marker]='marker'>
        </e-series>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Medge' name='Medge' [marker]='marker'>
        </e-series>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Callie' name='Callie' [marker]='marker'>
        </e-series>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Ira' name='Ira' [marker]='marker'>
        </e-series>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Ray' name='Ray' [marker]='marker'>
        </e-series>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Joelle' name='Joelle' [marker]='marker'>
        </e-series>
        <e-series [dataSource]='chartData' type='Column' xName='month' yName='Teagan' name='Teagan' [marker]='marker'>
        </e-series>
    </e-series-collection>
</ejs-chart>
